<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MAD-HAX Blog</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script async th:src="@{/js/NavMenu.js}"></script>
</head>
<body>
<div id="container">
    <div th:replace="fragments/Header.html :: header"></div>
    <div id="main">
        <h2>Contact Us</h2>
        <p>Body text here.</p>
    </div><!-- END main -->
    <div th:replace="fragments/Footer.html :: footer"></div>
</div><!-- END container -->
</body>
</html>